USE [master]
GO
/****** Object:  Database [CityCoreDB]    Script Date: 28/12/2018 10:25:07 PM ******/
CREATE DATABASE [CityCoreDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CityCoreDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\CityCoreDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CityCoreDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\CityCoreDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CityCoreDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CityCoreDB]
GO
/****** Object:  Table [dbo].[COMPANY]    Script Date: 28/12/2018 10:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPANY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](10) NULL,
	[Name] [nvarchar](200) NULL,
	[LOGO_URL] [nvarchar](200) NULL,
	[IS_ACTIVE] [bit] NULL,
	[CREATE_BY] [int] NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[IS_DELETED] [bit] NULL,
	[DELETE_BY] [int] NULL,
	[DELETE_DATE] [datetime] NULL,
 CONSTRAINT [PK_CLIENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 28/12/2018 10:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FULLNAME] [nvarchar](100) NULL,
	[EMAIL] [nvarchar](100) NULL,
	[LOCAL_PHONE] [nvarchar](20) NULL,
	[COUNTRY_PHONE] [nvarchar](20) NULL,
	[USERNAME] [nvarchar](20) NULL,
	[PASSWORD] [nvarchar](20) NULL,
	[ROLE] [nvarchar](20) NULL,
	[IS_ACTIVE] [bit] NULL,
	[IS_ADMIN] [bit] NULL,
	[COMPANY_ID] [int] NULL,
	[CREATE_BY] [int] NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[IS_DELETED] [bit] NULL,
	[DELETE_BY] [int] NULL,
	[DELETE_DATE] [datetime] NULL,
 CONSTRAINT [PK_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROJECT]    Script Date: 28/12/2018 10:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJECT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](200) NULL,
	[ADM_ID] [nvarchar](20) NULL,
	[FILE_NAME] [nvarchar](100) NULL,
	[LANDLORD] [nvarchar](100) NULL,
	[TENANT_NAME] [nvarchar](100) NULL,
	[PROPERTY_MNGR] [nvarchar](100) NULL,
	[AREA] [nvarchar](100) NULL,
	[SECTOR] [nvarchar](100) NULL,
	[PLOT] [nvarchar](100) NULL,
	[UNIT_NO] [nvarchar](100) NULL,
	[PROJECT_MGR] [int] NULL,
	[MANAGING_DIRECTOR] [int] NULL,
	[STATUS] [nvarchar](50) NULL,
	[NOTES] [nvarchar](500) NULL,
	[COMPANY_ID] [int] NULL,
	[CREATE_BY] [int] NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[IS_DELETED] [bit] NULL,
	[DELETE_BY] [int] NULL,
	[DELETE_DATE] [datetime] NULL,
 CONSTRAINT [PK_Project] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROJECT_TASK]    Script Date: 28/12/2018 10:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJECT_TASK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PROJECT_ID] [int] NULL,
	[TASK_ID] [int] NULL,
	[ASSIGNED_TO] [int] NULL,
	[STATUS] [nvarchar](50) NULL,
	[NOTES] [nvarchar](500) NULL,
	[COMPANY_ID] [int] NULL,
	[CREATE_BY] [int] NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[IS_DELETED] [bit] NULL,
	[DELETE_BY] [int] NULL,
	[DELETE_DATE] [datetime] NULL,
 CONSTRAINT [PK_PROJECT_TASK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROJECT_TASK_DOC]    Script Date: 28/12/2018 10:25:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJECT_TASK_DOC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PROJECT_TASK_ID] [int] NULL,
	[DOC_ID] [int] NULL,
	[DOC_URL] [nvarchar](200) NULL,
	[NOTES] [nvarchar](500) NULL,
	[COMPANY_ID] [int] NULL,
	[CREATE_BY] [int] NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[IS_DELETED] [bit] NULL,
	[DELETE_BY] [int] NULL,
	[DELETE_DATE] [datetime] NULL,
 CONSTRAINT [PK_PROJECT_TASK_DOC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TASK]    Script Date: 28/12/2018 10:25:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TASK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PARENT_TASK_ID] [int] NULL,
	[NAME] [nvarchar](100) NULL,
	[CATEGORY] [nvarchar](50) NULL,
	[IS_ACTIVE] [bit] NULL,
	[IS_MANDATORY] [bit] NULL,
	[CREATE_BY] [int] NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[IS_DELETED] [bit] NULL,
	[DELETE_BY] [int] NULL,
	[DELETE_DATE] [datetime] NULL,
 CONSTRAINT [PK_TASK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TASK_RELATED_DOC]    Script Date: 28/12/2018 10:25:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TASK_RELATED_DOC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TASK_ID] [int] NULL,
	[DOC_NAME_EN] [nvarchar](100) NULL,
	[DOC_NAME_AR] [nvarchar](100) NULL,
	[RELATED_TO] [nvarchar](100) NULL,
	[IS_ACTIVE] [bit] NULL,
	[CREATE_BY] [int] NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[IS_DELETED] [bit] NULL,
	[DELETE_BY] [int] NULL,
	[DELETE_DATE] [datetime] NULL,
 CONSTRAINT [PK_TASK_RELATED_DOC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[COMPANY] ON 
GO
INSERT [dbo].[COMPANY] ([ID], [Code], [Name], [LOGO_URL], [IS_ACTIVE], [CREATE_BY], [CREATE_DATE], [UPDATE_BY], [UPDATE_DATE], [IS_DELETED], [DELETE_BY], [DELETE_DATE]) VALUES (1, N'CC', N'CityCore Consultancy', NULL, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[COMPANY] OFF
GO
SET IDENTITY_INSERT [dbo].[EMPLOYEE] ON 
GO
INSERT [dbo].[EMPLOYEE] ([ID], [FULLNAME], [EMAIL], [LOCAL_PHONE], [COUNTRY_PHONE], [USERNAME], [PASSWORD], [ROLE], [IS_ACTIVE], [IS_ADMIN], [COMPANY_ID], [CREATE_BY], [CREATE_DATE], [UPDATE_BY], [UPDATE_DATE], [IS_DELETED], [DELETE_BY], [DELETE_DATE]) VALUES (1, N'Ammar ', N'ammar@citycore.info', N'0550000000', N'00249912284374', N'Ammar', N'123', N'Manager', 1, 1, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[EMPLOYEE] OFF
GO
SET IDENTITY_INSERT [dbo].[PROJECT] ON 
GO
INSERT [dbo].[PROJECT] ([ID], [NAME], [ADM_ID], [FILE_NAME], [LANDLORD], [TENANT_NAME], [PROPERTY_MNGR], [AREA], [SECTOR], [PLOT], [UNIT_NO], [PROJECT_MGR], [MANAGING_DIRECTOR], [STATUS], [NOTES], [COMPANY_ID], [CREATE_BY], [CREATE_DATE], [UPDATE_BY], [UPDATE_DATE], [IS_DELETED], [DELETE_BY], [DELETE_DATE]) VALUES (1, N'Adding 3rd floor', N'AD2223333', N'FILE 001', N'Ammar', N'Mostafa', N'Ammar', N'?', N'?', N'?', N'?', 1, NULL, N'NEW', N'', 1, NULL, NULL, 1, CAST(N'2018-12-21T22:25:14.363' AS DateTime), NULL, NULL, NULL)
GO
INSERT [dbo].[PROJECT] ([ID], [NAME], [ADM_ID], [FILE_NAME], [LANDLORD], [TENANT_NAME], [PROPERTY_MNGR], [AREA], [SECTOR], [PLOT], [UNIT_NO], [PROJECT_MGR], [MANAGING_DIRECTOR], [STATUS], [NOTES], [COMPANY_ID], [CREATE_BY], [CREATE_DATE], [UPDATE_BY], [UPDATE_DATE], [IS_DELETED], [DELETE_BY], [DELETE_DATE]) VALUES (2, N'Adding Basement', N'AD2223948', N'FILE 002', N'Mostafa', N'Ammar', N'Ammar', N'?', N'?', N'?', N'?', 1, NULL, N'Vacant', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[PROJECT] ([ID], [NAME], [ADM_ID], [FILE_NAME], [LANDLORD], [TENANT_NAME], [PROPERTY_MNGR], [AREA], [SECTOR], [PLOT], [UNIT_NO], [PROJECT_MGR], [MANAGING_DIRECTOR], [STATUS], [NOTES], [COMPANY_ID], [CREATE_BY], [CREATE_DATE], [UPDATE_BY], [UPDATE_DATE], [IS_DELETED], [DELETE_BY], [DELETE_DATE]) VALUES (3, N'ADD 2ND FLOOR', N'AD000001', N'F000001', N'MOSTAFA', N'MOSTAFA', N'MOSTAFA', N'Baniyas', N'East', N'15', N'105', 1, 1, N'NEW', N'N/A', 1, 1, CAST(N'2018-12-21T17:36:46.350' AS DateTime), NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[PROJECT] OFF
GO
SET IDENTITY_INSERT [dbo].[TASK] ON 
GO
INSERT [dbo].[TASK] ([ID], [PARENT_TASK_ID], [NAME], [CATEGORY], [IS_ACTIVE], [IS_MANDATORY], [CREATE_BY], [CREATE_DATE], [UPDATE_BY], [UPDATE_DATE], [IS_DELETED], [DELETE_BY], [DELETE_DATE]) VALUES (1, NULL, N'PERMITTING', N'', 1, 1, 1, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[TASK] ([ID], [PARENT_TASK_ID], [NAME], [CATEGORY], [IS_ACTIVE], [IS_MANDATORY], [CREATE_BY], [CREATE_DATE], [UPDATE_BY], [UPDATE_DATE], [IS_DELETED], [DELETE_BY], [DELETE_DATE]) VALUES (2, 1, N'Owner Meeting', N'PERMITTING', 1, 1, 1, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[TASK] ([ID], [PARENT_TASK_ID], [NAME], [CATEGORY], [IS_ACTIVE], [IS_MANDATORY], [CREATE_BY], [CREATE_DATE], [UPDATE_BY], [UPDATE_DATE], [IS_DELETED], [DELETE_BY], [DELETE_DATE]) VALUES (3, 1, N'Quotation', N'PERMITTING', 1, 1, 1, NULL, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[TASK] OFF
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEE_COMPANY] FOREIGN KEY([COMPANY_ID])
REFERENCES [dbo].[COMPANY] ([ID])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK_EMPLOYEE_COMPANY]
GO
ALTER TABLE [dbo].[PROJECT]  WITH CHECK ADD  CONSTRAINT [FK_PROJECT_COMPANY] FOREIGN KEY([COMPANY_ID])
REFERENCES [dbo].[COMPANY] ([ID])
GO
ALTER TABLE [dbo].[PROJECT] CHECK CONSTRAINT [FK_PROJECT_COMPANY]
GO
ALTER TABLE [dbo].[PROJECT]  WITH CHECK ADD  CONSTRAINT [FK_PROJECT_MD] FOREIGN KEY([MANAGING_DIRECTOR])
REFERENCES [dbo].[EMPLOYEE] ([ID])
GO
ALTER TABLE [dbo].[PROJECT] CHECK CONSTRAINT [FK_PROJECT_MD]
GO
ALTER TABLE [dbo].[PROJECT]  WITH CHECK ADD  CONSTRAINT [FK_PROJECT_PM] FOREIGN KEY([PROJECT_MGR])
REFERENCES [dbo].[EMPLOYEE] ([ID])
GO
ALTER TABLE [dbo].[PROJECT] CHECK CONSTRAINT [FK_PROJECT_PM]
GO
ALTER TABLE [dbo].[PROJECT_TASK]  WITH CHECK ADD  CONSTRAINT [FK_PROJECT_TASK_COMPANY] FOREIGN KEY([COMPANY_ID])
REFERENCES [dbo].[COMPANY] ([ID])
GO
ALTER TABLE [dbo].[PROJECT_TASK] CHECK CONSTRAINT [FK_PROJECT_TASK_COMPANY]
GO
ALTER TABLE [dbo].[PROJECT_TASK]  WITH CHECK ADD  CONSTRAINT [FK_PROJECT_TASK_EMPLOYEE] FOREIGN KEY([ASSIGNED_TO])
REFERENCES [dbo].[EMPLOYEE] ([ID])
GO
ALTER TABLE [dbo].[PROJECT_TASK] CHECK CONSTRAINT [FK_PROJECT_TASK_EMPLOYEE]
GO
ALTER TABLE [dbo].[PROJECT_TASK]  WITH CHECK ADD  CONSTRAINT [FK_PROJECT_TASK_PROJECT] FOREIGN KEY([PROJECT_ID])
REFERENCES [dbo].[PROJECT] ([ID])
GO
ALTER TABLE [dbo].[PROJECT_TASK] CHECK CONSTRAINT [FK_PROJECT_TASK_PROJECT]
GO
ALTER TABLE [dbo].[PROJECT_TASK]  WITH CHECK ADD  CONSTRAINT [FK_PROJECT_TASK_TASK] FOREIGN KEY([TASK_ID])
REFERENCES [dbo].[TASK] ([ID])
GO
ALTER TABLE [dbo].[PROJECT_TASK] CHECK CONSTRAINT [FK_PROJECT_TASK_TASK]
GO
ALTER TABLE [dbo].[PROJECT_TASK_DOC]  WITH CHECK ADD  CONSTRAINT [FK_PROJECT_TASK_DOC_COMPANY] FOREIGN KEY([COMPANY_ID])
REFERENCES [dbo].[COMPANY] ([ID])
GO
ALTER TABLE [dbo].[PROJECT_TASK_DOC] CHECK CONSTRAINT [FK_PROJECT_TASK_DOC_COMPANY]
GO
ALTER TABLE [dbo].[PROJECT_TASK_DOC]  WITH CHECK ADD  CONSTRAINT [FK_PROJECT_TASK_DOC_PROJECT_TASK] FOREIGN KEY([PROJECT_TASK_ID])
REFERENCES [dbo].[PROJECT_TASK] ([ID])
GO
ALTER TABLE [dbo].[PROJECT_TASK_DOC] CHECK CONSTRAINT [FK_PROJECT_TASK_DOC_PROJECT_TASK]
GO
ALTER TABLE [dbo].[PROJECT_TASK_DOC]  WITH CHECK ADD  CONSTRAINT [FK_PROJECT_TASK_DOC_TASK_RELATED_DOC] FOREIGN KEY([DOC_ID])
REFERENCES [dbo].[TASK_RELATED_DOC] ([ID])
GO
ALTER TABLE [dbo].[PROJECT_TASK_DOC] CHECK CONSTRAINT [FK_PROJECT_TASK_DOC_TASK_RELATED_DOC]
GO
ALTER TABLE [dbo].[TASK_RELATED_DOC]  WITH CHECK ADD  CONSTRAINT [FK_TASK_RELATED_DOC_TASK] FOREIGN KEY([TASK_ID])
REFERENCES [dbo].[TASK] ([ID])
GO
ALTER TABLE [dbo].[TASK_RELATED_DOC] CHECK CONSTRAINT [FK_TASK_RELATED_DOC_TASK]
GO
USE [master]
GO
